.photo__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  column-gap: 17px;
  row-gap: 20px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .photo__grid {
    grid-template-columns: repeat(2,1fr);
    row-gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  .photo__grid {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}