.photo {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  column-gap: 17px;
  row-gap: 20px;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 36px;
  padding-bottom: 48px;
}

@media screen and (max-width: 1000px) {
  .photo {
    grid-template-columns: repeat(2,1fr);
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 36px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 500px) {
  .photo {
    grid-template-columns: 1fr;
  }
}