.profile__id {
  margin-top: 22px;
  display: grid;
  grid-template-columns: minmax(min-content,max-content) 37px;
  row-gap: 16px;
}

@media screen and (max-width: 1000px) {
  .profile__id {
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .profile__id {
    margin-top: 0;
    column-gap: 10px;
    row-gap: 14px;
    margin-left: auto;
    margin-right: auto;
  }
}